body {
  font: $font-normal #{$base-fontsize}/#{$base-lineheight} $base-font;
}

a {
  &:hover, &:focus {
    color: $secondary-color;
    text-decoration: none;
    transition: all 0.2s ease-in;
  }
}

h1 { font-size: $base-fontsize * 3 - 4; }
h2 { font-size: $base-fontsize * 2 + 2; }
h3 { font-size: $base-fontsize + 10; }
h4 { font-size: $base-fontsize + 4; }
h5 { font-size: $base-fontsize + 2; }
h6 { font-size: $base-fontsize; }

img {
  max-width: 100%;
}

ul, ol {
  padding-left: 15px;
}

/* Global styles */
.wrapper {
  overflow: hidden;
  min-width: 320px;
}

.content-wrapper {
  overflow: hidden;
}

.hr {
  border-bottom: 2px solid lighten($primary-light-color, 30);
  margin: 30px 0;
}

.block-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.block-table-cell {
  display: table-cell;
  float: none;
}

.main-content {
  min-height: 450px;

  .home & {
    @media(min-width: 991px) and (max-width: 1199px){
      min-height: 900px;
    }
  }
}

.page-title {
  margin: 0 -15px;
  padding: 20px 15px;
  font-size: $base-fontsize + 4;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;

  @media(max-width: 767px){
    padding: 15px;
    font-size: $base-fontsize + 2;
  }
}

.go-top {
  display: none;
  color: #FFF;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: rgba($primary-dark-color, 0.6);

  &:focus {
    color: #FFF;
  }
}