@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/regular/Roboto-Regular-webfont.eot');
  src: url('../fonts/roboto/regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/regular/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/roboto/regular/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/roboto/regular/Roboto-Regular-webfont.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/italic/Roboto-Italic-webfont.eot');
  src: url('../fonts/roboto/italic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/italic/Roboto-Italic-webfont.woff') format('woff'),
       url('../fonts/roboto/italic/Roboto-Italic-webfont.ttf') format('truetype'),
       url('../fonts/roboto/italic/Roboto-Italic-webfont.svg#Roboto') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/light/Roboto-Light-webfont.eot');
  src: url('../fonts/roboto/light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/light/Roboto-Light-webfont.woff') format('woff'),
       url('../fonts/roboto/light/Roboto-Light-webfont.ttf') format('truetype'),
       url('../fonts/roboto/light/Roboto-Light-webfont.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/light-italic/Roboto-LightItalic-webfont.eot');
  src: url('../fonts/roboto/light-italic/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/light-italic/Roboto-LightItalic-webfont.woff') format('woff'),
       url('../fonts/roboto/light-italic/Roboto-LightItalic-webfont.ttf') format('truetype'),
       url('../fonts/roboto/light-italic/Roboto-LightItalic-webfont.svg#Roboto') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/medium/Roboto-Medium-webfont.eot');
  src: url('../fonts/roboto/medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/medium/Roboto-Medium-webfont.woff') format('woff'),
       url('../fonts/roboto/medium/Roboto-Medium-webfont.ttf') format('truetype'),
       url('../fonts/roboto/medium/Roboto-Medium-webfont.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/medium-italic/Roboto-MediumItalic-webfont.eot');
  src: url('../fonts/roboto/medium-italic/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/medium-italic/Roboto-MediumItalic-webfont.woff') format('woff'),
       url('../fonts/roboto/medium-italic/Roboto-MediumItalic-webfont.ttf') format('truetype'),
       url('../fonts/roboto/medium-italic/Roboto-MediumItalic-webfont.svg#Roboto') format('svg');
  font-weight: 500;
  font-style: italic;
}