// Color Variables
$primary-color: #3D4C53;
$primary-light-color: #aaa;
$primary-dark-color: darken($primary-color, 10);
$secondary-color: #d94e67;
$tertiary-color: #a68572;
$base-font-color: $primary-dark-color;
$base-link-color: red;
$white-color: #FFF;

$base-fontsize: 12px;
$base-font: 'Roboto';
$base-lineheight: 16px;

$font-medium: 500;
$font-bold: 700;
$font-light: 300;
$font-normal: 400;