.ad-wrapper {
  min-height: 90px;
  text-align: center;
  margin: 20px 0 0;
  overflow: hidden;

  .widget-title {
    margin: 0 0 10px;
    color: #ccc;
    font-size: $base-fontsize;
    text-transform: uppercase;
  }

  &.content-ad {
    margin: 20px 0;
    text-align: center;
  }
}

.sidebar-ad {
  //height: 300px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}