.btn-brand {
  color: $white-color;
  padding: 6px 15px;
  border-radius: 4px;
  border: 2px solid darken($secondary-color, 10);
  background-color: $secondary-color;

  &:hover,
  &:focus {
    color: #FFF;
    background-color: darken($secondary-color, 10);

    .content-loop & {
      color: #FFF;      
    }
  }
}