.content-loop {
  
  article.post,
  article.page {
    margin: 20px 0;
    width: 50%;
    float: left;
    padding: 0 15px;
    overflow: hidden;
    clear: both;
  } // END POST
  
  .post-thumb,
  .post-header {
    vertical-align: top;
  }

  .post-thumb {
    width: 80px;
    
    @media(max-width: 479px){
      width: 60px;
    }

    > a{
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  .post-header {
    padding-left: 15px;
  }

  .post-category {
    margin-bottom: 5px;
    font-size: $base-fontsize - 2;
    line-height: $base-lineheight - 2;
    font-weight: $font-medium;
    text-transform: uppercase;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .post-title {
    margin: 0 0 5px;
    font-size: $base-fontsize + 4;
    line-height: $base-lineheight + 2;
    font-weight: $font-medium;
  }

  .post-date {
    margin-right: 20px;
    
    @media(max-width: 479px){
      margin-right: 10px;
    }
  }

  .post-date, 
  .post-author {
    text-transform: uppercase;
    font-weight: $font-light;
  }

  .meta-wrapper {
    display: block;
    margin: 10px 0 0;
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;

    @media(max-width: 479px){
      display: none;
    }

    .icon {
      margin-right: 5px;
    }
  }

  .admin-action .icon {
    margin-right: 5px;
  }

} // Content loop

.single-col {

  article.post,
  article.page {
    width: 100%;
    padding: 0 15px;
    float: none;
  }

  .post-title {
    font-size: $base-fontsize + 6;
    line-height: $base-lineheight + 6;

    @media(max-width: 479px){
      font-size: $base-fontsize + 4;
      line-height: $base-lineheight + 2;
    }
  }

  .post-thumb {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: #f4f4f4;
    vertical-align: middle;

    @media(max-width: 479px){
      width: 100px;
      height: 100px;
      vertical-align: top;
      background-color: transparent;
    }
  }// END Post thumb
  
  article.page .comments-count { display: none; }
  .comments-count {
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0;
    
    a {
      font-size: $base-fontsize - 1;
      padding: 5px 10px;
      display: block;

      &:before {
        content: "\f11d";
        font-family: 'ionicons';
        display: inline-block;
        margin-right: 5px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      right: -8px;
      bottom: 0;
      width: 0;
      height: 0;
      border-top: 13px solid rgba($tertiary-color, 0.8);
      border-bottom: 13px solid rgba($tertiary-color, 0.8);
      border-right: 8px solid transparent;
    }
  } // END Comment Count

  .post-header {
    padding-left: 0;
  }

  .post-content {
    padding-left: 15px;
  }

  .meta-wrapper {
    border-bottom: none;
  }

  .post-wrapper {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
  }

  .post-excerpt {
    @media(max-width: 479px){
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

} // END Loop2

.related-posts .post:hover .post-thumb,
.post-wrapper:hover .post-thumb {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}


@media(min-width: 768px) and (max-width: 991px){
  article.post {
    width: 100%;
  }
}