.navbar {
  margin-bottom: 0;
  border: none;

  @media(min-width: 768px){
    border-radius: 0;
  }

  #top-menu {
    margin-right: -15px;
  }
} // END Navbar

.navbar-inverse {
  .navbar-brand {
    text-transform: uppercase;
    font-weight: $font-medium;
    color: $white-color;

    img {
      height: 40px;
    }
  }
} // Navbar Inverse

.navbar-nav {
  @media(min-width: 767px){
    > li:hover .sub-menu {
      display: block;
    }
  }

  a:hover {
    transition: none;
  }

  li {
    > a {
      @media(max-width: 767px){
        border-bottom: 1px solid darken($primary-dark-color, 5);
      }
    }

    .sub-menu {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;

      @media(min-width: 768px){
        position: absolute;
        min-width: 150px;
        left: 0;
        z-index: 3;
      }
    } // END Submenu

    &:last-child {
      .sub-menu {
        left: auto;
        right: 0;
      }

      > a {
        border: none;
      }
    }
  } // END li

  .sub-menu {
    li {
      a {
        display: block;
        padding: 15px;
        
        @media(max-width: 767px){
          border-left: 10px solid darken($primary-color, 15);
        }
      }
    }
  } // END Submenu

  @media(max-width: 767px){
    .menu-item-has-children > a:after {
      content: "\f35f";
      font-family: 'ionicons';
      display: inline-block;
      color: $white-color;
      vertical-align: middle;
      margin-left: 10px;
      float: right;
    }
  }

} // Navbar Nav
