.sidebar {
  .newsletter-widget {
    .newsletter-email {
      width: 100%;
      padding: 10px;
      height: 35px;
      outline: none;
      background-color: #DDD;
      border: 2px solid #CCC;

      &:focus {
        box-shadow: none;
        border-color: $secondary-color;
      }
    }

    .newsletter-submit {
      text-transform: uppercase;
      border: none;
      padding: 10px 20px;
      display: block;
      width: 100%;
    }
  }
} // Newsletter in sidebar

.newsletter-profile {
  th {
    padding-right: 10px;
    text-transform: uppercase;
  }

  .newsletter-email {
    border: 2px solid #eee;
    padding: 5px;
    color: #666;
    outline: none;

    &:focus {
      border-color: $secondary-color;
    }
  }

  .newsletter-submit {
    color: $white-color;
    padding: 4px 15px;
    border-radius: 3px;
    border: 2px solid darken($secondary-color, 10);
    background-color: $secondary-color;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: #FFF;
      background-color: darken($secondary-color, 10);

      .content-loop & {
        color: #FFF;      
      }
    }
  }
}

.newsletter-form {
  padding: 20px;
  text-align: center;

  .inner-wrapper {
    padding: 60px 20px;
    border: 2px solid #FFF;
  }

  h3 {
    margin: 0 0 5px;
    font-size: $base-fontsize + 8;
    text-transform: uppercase;
  }

  p {
    font-weight: $font-light;
    font-size: $base-fontsize + 4;
  }

  form {
    margin-top: 20px;
  }

  .form-control, .btn {
    border-radius: 0;
    height: 40px;
    border: none;
    outline: none;
    font-size: $base-fontsize + 2;
  }

  .form-control {
    box-shadow: none;
  }

  .btn {
    font-weight: $font-medium;
    text-transform: uppercase;

    @media(max-width: 479px){
      display: block;
      margin-top: 10px;
      width: 100%;
    }
  }

  @media(max-width: 479px){
    .input-group,
    .input-group .form-control, 
    .input-group-addon, .input-group-btn {
      display: block;
      float: none;
      width: 100%;
    }
  }
} // END Newsletter form