.pagination {
  .main-content & {
    display: block;
    margin: 0;
    text-align: center;
    padding: 40px 0;

    .page-numbers {
      padding: 5px 10px;
      margin-bottom: 5px;
      display: inline-block;
    }
  } // Main Content Pagination
} // END Pagination
