.tab-widget {
  padding-top: 20px;

  .tab-content {
    padding: 20px 0;
  }

  .nav-tabs {
    border-bottom: none;
    
    li {
      margin-bottom: 0;
      

      &:after {
        content: '/';
        display: inline-block;
        padding: 0 10px;
        font-weight: $font-medium;
      }

      &:last-child {
        &:after {
          content: none;
        }
      }

      a {
        padding: 0;
        display: inline-block;
        text-transform: uppercase;
        font-weight: $font-medium;
        border: none;

        @media(min-width: 1200px){
          font-size: $base-fontsize + 2;
        }

        &:focus, &:hover {
          background: none;
        }
      }

      &.active a {
        background: none;
        border: none;
      } // END Active
    } // END li
  } // END Nav tabs
}

.post-list {

  li {
    overflow: hidden;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedede;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .post-info {
    overflow: hidden;
  }

  .post-thumb {
    margin-right: 10px;
    float: left;
    display: block;
    
    img {
      width: 80px;
      height: 80px;

      @media(max-width: 479px){
        width: 60px;
        height: 60px;
      }
    }
  }

  .category,
  .title,
  .date {
    display: block;
  }

  .category {
    font-size: $base-fontsize - 2;
    line-height: $base-lineheight - 2;
    text-transform: uppercase;

    @media (max-width: 767px) {
      display: none;
    }
  }

  .title {
    font-size: $base-fontsize + 2;
    margin: 5px 0;
    // font-weight: 500;
  }

  .date {
    font-size: $base-fontsize - 2;
    font-weight: 300;
  }

} // END Post list

.comments-list {
  li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
  }

  a {
    display: block;
  }

  .avatar {
    float: left;
    margin-right: 5px;
  }

  .title {
    display: block;
    margin-bottom: 5px;
    font-weight: $font-medium;
    //font-size: $base-fontsize + 2;
  }

} // END Comments list

.tagcloud {
  a {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 5px;
  }
} // END Tag Cloud

.recommended-post {
    position: relative;

    .item {
      a {
        display: block;

        &:after {
          content: "";
          position: absolute;
          top: 0; right: 0;
          bottom: 0; left: 0;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
          background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }
      }
    } // END Item

    .text {
      color: #FFF;
      z-index: 2;
      position: absolute;
      padding: 15px;
      bottom: 0; right: 0; left: 0;
      font-size: $base-fontsize + 4;
      line-height: $base-fontsize + 8;
    }

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      font-family: 'object-fit: cover;';

      @media(max-width: 767px){
        height: 250px;
      }
    }
  } // END Recommended Post