body {
  color: $base-font-color;
  background-color: $white-color;
}

a {
  color: $secondary-color;
  &:hover {
    color: $primary-light-color;
  }
}

.wrapper { background-color: #EAEAEA; }
.main-content { background-color: $white-color; }
.content-wrapper { background-color: $white-color; }
.page-title { background-color: #fafafa; color: $tertiary-color; }

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: $primary-color;
}

.header-bottom {
  background-color: $primary-color;
  
  .social-icons {
    background-color: $secondary-color;

    a {
      color: $white-color;
      background-color: darken($secondary-color, 15);

      &:hover {
        background-color: darken($secondary-color, 25);
      }
    }
  }

  .nav-pills {
    a {
      color: lighten($primary-light-color, 10);

      &:focus, &:hover {
        background-color: darken($primary-color, 5);
      }
    }

    li.current-menu-item a {
      background-color: darken($primary-color, 5);
    }
  }

} // Header Bottom

.navbar-inverse {
  background-color: $primary-dark-color;

  .navbar-nav>li>a {
    color: #F7F3E8;
  }

  .navbar-nav > li > a:hover,
  .navbar-nav > li:hover > a {
    color: $white-color;
    
    @media(min-width: 768px){
      background-color: darken($primary-dark-color, 5);
    }
  }

  .sub-menu {
    background-color: darken($primary-dark-color, 5);

    @media(max-width: 767px){
      background-color: lighten($primary-dark-color, 2);
    }
    
    li a {
      color: $white-color;
    }

    a:hover {
      background-color: darken($primary-color, 20);
    }
  }
} // Main Navbar

@media(max-width: 767px){
  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:hover,
  .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: darken($primary-dark-color, 2);
  }
}

.content-loop {

  a:hover {
    color: $secondary-color;
  }

  .post-category {
    color: $primary-light-color;

    a {
      color: $secondary-color;

      &:hover {
        color: $primary-light-color;
      }
    }
  }

  .post-title a {
    color: $primary-dark-color;

    &:hover {
      color: $secondary-color;
    }
  }

  .meta-wrapper {
    .post-date, .post-author a {
      color: $primary-light-color;
    }

    .post-author a:hover {
      color: $secondary-color;
    }

    .icon {
      color: darken($primary-light-color, 10);
    }
  }

} // Content loop

.post-single {
  .post-meta {
    color: $primary-light-color;

    .icon {
      margin-right: 2px;
    }
  } // END Post Meta

  .post-header {
    color: #ccc;
    background-color: #fafafa;

    a {
      color: lighten($primary-light-color, 10);

      &:hover {
        color: darken($primary-light-color, 20);
      }
    }

    .post-edit-link {
      color: $white-color;
      background-color: $secondary-color;

      &:hover {
        color: $white-color;
        background-color: darken($secondary-color, 20);
      }
    }
  } // END Post header
} // END Single Post

.pagination,
.pagination .page-numbers {
  .main-content & {
    color: $white-color;
  }
}

.pagination {
  .main-content & {
    .page-numbers {
      background-color: $secondary-color;
    }

    .current {
      background-color: darken($secondary-color, 20);
    }
  } // Main content pagination

} // END Pagination

.post-list {
  .category { 
    color: #aaa;
    
    a {
      color: $secondary-color; 
      &:hover {
        color: $primary-light-color;
      }
    }
  }

  .title {
    color: inherit; 
    
    &:hover {
      color: $secondary-color;
    }
  }

  .date { color: #aaa; }
} // END Post list

.sidebar {
  background-color: #f4f4f4;

  .widget-title {
    color: $primary-dark-color;
  }
  
  .newsletter-widget {
    .newsletter-submit {
      color: #FFF;
      background-color: $secondary-color;
    }
  }
} // END Sidebar

.tab-widget {
  .nav-tabs {
    li {
      a {
        color: $primary-color;
      }

      &.active a {
        color: $secondary-color;
      }
    }
  }
} // END Widget tab

/* ========== Comments Area ========== */
#comments {
  .reply a {
    background-color: $secondary-color;
    color: $white-color;
  }
}

.comment-form {
  input[type="text"],
  input[type="email"],
  textarea {
    &:focus {
      border-color: $secondary-color;
    }
  }

  .submit {
    color: $white-color;
    background-color: $secondary-color;
    border: 2px solid darken($secondary-color, 10);
  }
} // END Comments

.comments-list {
  .author {
    color: $tertiary-color;
  }
  
  .date {
    color: $primary-light-color;
  }

  .text {
    color: $primary-light-color;
  }

  .content {
    color: $primary-color;
  }

  .title {
    color: $primary-dark-color;
  }

  a:hover .title {
    color: $secondary-color;
  }
} // END Comments list

.comments-count {
  background: rgba($tertiary-color, 0.8);
  color: $white-color;
  
  a {
    color: $white-color;
  
    &:hover {
      color: $white-color;
    }
  }
} // Comments count


.tagcloud {
  a {
    color: $primary-light-color;
    background-color: lighten($primary-light-color, 20);

    &:hover {
      color: $white-color;
      background-color: $secondary-color;
    }
  }
} // END Tag Cloud

.sidebar-searchform {
  .btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

// Form
.form-control {
  background-color: #DDD;
  border-color: #DDD;

  &:focus {
    border-color: $secondary-color;
  }

  .newsletter-form & {
    background-color: #fff;
  }
}

// Footer
.footer {
  background-color: $primary-dark-color;
}

.footer, .footer a {
  color: $primary-light-color;
}

.footer-logo {
  color: $primary-color;
}

// Newsletter Form
.newsletter-form {
  color: #FFF;
  background-color: $primary-dark-color;

  .inner-wrapper {
    background-color: $primary-color;
  }

  .btn:focus {
    color: #FFF;
  }
}