.pagenotfound {
  padding: 20px;

  h1 {
    font-size: $base-fontsize + 10;
    margin: 20px 0;
    font-weight: $font-light;
  }

  .large-text {
    display: block;
    font-size: $base-fontsize * 6;
    color: $primary-light-color;
    font-weight: $font-medium;
  }

  h4 {
    font-weight: $font-light;
  }

  .divider-block {
    margin: 20px 0;
    overflow: hidden;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    span {
      background-color: #fff;
      padding: 5px 10px;
      position: relative;
      z-index: 2;
      font-weight: $font-medium;
    }

    &:before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #eee;
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
}