#comments {
  border-top: 1px solid #eee;

  h2 {
    font-size: $base-fontsize + 6;
    text-transform: uppercase;
  }

  ul {
    margin: 20px 0;
    padding: 0;
    list-style: none;
  }

  .comment-body {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #eee;
  }

  .fn {
    font-weight: $font-medium;
    text-transform: uppercase;
    font-style: normal;
  }

  .comment-author {
    overflow: hidden;
    margin-bottom: 10px;
    
    .author-avatar {
      margin-right: 10px;
    }
  }

  .author-avatar, .commentmetadata-wrapper {
    display: inline-block;
    vertical-align: top;
  }

  .comment-text, .reply, .children, .comment-awaiting-moderation {
    padding-left: 45px;
  }

  .comment-awaiting-moderation {
    margin-bottom: 5px;
  }

  .reply a {
    padding: 5px 10px;
    border-radius: 3px;
  }
} // END Comment list


.comment-form {
  label {
    display: block;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    border: 2px solid #eee;
    border-radius: 4px;
    padding: 10px;
    box-shadow: none;
    outline: none;
  }

  .submit {
    padding: 10px 20px;
    border-radius: 4px;
  }
} // END Comment form