.contact-us {
  .wpcf7-form {
    p {
      margin-bottom: 20px;
    }
  }
  
  .wpcf7-form-control-wrap {
    overflow: hidden;
    display: block;
    margin-top: 5px;
  }

  .wpcf7-not-valid-tip {
    margin-top: 5px;
  }  

  .wpcf7-text {
    width: 100%;
    height: 35px;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 4px;
  }

  .wpcf7-textarea {
    width: 100%;
    height: 250px;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 4px;
  }

  .wpcf7-not-valid {
    border-color: #f00;
  }

  .wpcf7-recaptcha {
    margin-bottom: 20px;
  }

  .wpcf7-submit {
    color: $white-color;
    padding: 6px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    border: 2px solid darken($secondary-color, 10);
    background-color: $secondary-color;
  }
}