.footer {
  padding: 20px 0;

  .block-table-cell {
    vertical-align: middle;
  }
 
 .copyright {
    margin-bottom: 0;
  }

  .footer-logo {
    text-align: right;
    font-size: $base-fontsize + 8;
    text-transform: uppercase;
    font-weight: $font-medium;

    @media(max-width: 479px){
      margin-top: 20px;
      text-align: center;
    }
  }

  @media(max-width: 479px){
    .block-table, .block-table-cell {
      display: block;
    }
  }

  .footer-nav {
    li {
      margin-right: 5px;
    }
  }
}