.logo {
  margin: 0;
}

.header-bottom {
  overflow: hidden;

  .second-menu {
    @media (max-width: 767px) {
      display: none; 
    }
  }

  .nav-pills {
    @media(min-width: 768px){
      margin-left: -15px;
    }

    margin: 10px 0 10px;

    a {
      font-size: $base-fontsize + 2;
      
      @media(max-width: 767px){
        font-size: $base-fontsize;
      }
    }
  }

  .social-icons {

    ul {
      margin: 0;
      padding: 15px 0;

      li {
        padding-left: 0;
        padding-right: 10px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    a {
      height: 32px;
      width: 32px;
      font-size: $base-fontsize + 4;
      display: block;
      padding: 8px;
      text-align: center;
      border-radius: 4px;

      &:hover {
        border-radius: 100%;
      }
    }
  } // END Social icons
}