.page {
  
  .main-content {

    font-size: $base-fontsize + 2;
    line-height: $base-lineheight + 4;

    h1 {
      font-size: $base-fontsize + 10;
      margin-bottom: 30px;
      padding-bottom: 10px;
      text-transform: uppercase;
      border-bottom: 2px solid #f4f4f4;
    }

    h2 {
      font-size: $base-fontsize * 2;
    }

    ul, ol {
      padding-left: 20px;
    }

  } // Main Content

} // END Page Styles