.related-posts {
  margin: 20px 0;

  .heading {
    margin: 0;
  }

  .post-thumb {
    margin-bottom: 10px;
    
    a {
      display: block;
    }

    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }
  }

  .post-title {
    margin: 0;
    line-height: $base-lineheight + 4;
    font-weight: $font-normal;

    a {
      display: block;
      color: $primary-color;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .post-date {
    text-transform: uppercase;
    margin-top: 5px;
  }

  .item {
    @media(min-width: 479px) and (max-width: 767px){
      width: 33.333%;
      float: left;
    }
  }
} // END Related Posts