.sidebar {
  overflow: hidden;
  padding-bottom: 20px;
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .widget-title {
    font-size: 16px;
    font-weight: 500;
    color: #505050;
    text-transform: uppercase;
  }

  .widget-title small {
    margin-top: 2px;
    font-weight: 500;
    display: block;
  }

} // END Sidebar


.sidebar-searchform {
  .form-control {
    border-width: 2px;
    box-shadow: none;
  }

  .btn {
    margin-left: 0;
    border-width: 1px;
    outline: none;
  }

  .form-control, 
  .btn {
    border-radius: 0;
  }
} // END Sidebar Search