.main-content {
  #breadcrumbs {
    margin: -20px -15px 0;
  }

  article.post {
    margin: 20px 0;
  } // END POST

  &.post-single {
    .post-meta {

      > span {
        margin-right: 10px;
      }

      .icon {
        margin-right: 2px;
      }
    }

    .post-content {
      font-size: $base-fontsize + 2;
      line-height: $base-lineheight + 6;
    }

    .list-image {
      margin-bottom: 10px;
      
      img {
        border-radius: 4px;
        overflow: hidden;
      }
    }

    .photo-credit {
      color: lighten($primary-light-color, 10);
      font-style: italic;
      font-weight: $font-medium;
      margin-top: 5px;
    }
    
    .tagcloud {
      font-weight: $font-light;
      margin: 10px 0;

      span {
        font-size: $base-fontsize + 2;
        margin-right: 10px;
      }
      
      a {
        margin-right: 5px;
      }
    }

    .post-thumbnail-wrapper {
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }
    }

    .article-header {
      position: relative;
      height: 300px;
      margin: -20px -15px 20px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.7);
      }

      .post-meta,
      .post-title {
        text-align: center;
      }

      .post-title {
        padding: 0 10px;
        @media (max-width: 1199px) {
          font-size: $base-fontsize * 2;
        }
      }

      .post-meta-wrapper {
        position: absolute;
        color: #FFF;
        z-index: 2;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 15px;
      }

      .author-meta {
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }

      .author-avatar {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;

        img {
          border-radius: 50%;
        }
      }

      .post-edit-link {
        padding: 6px 15px;
        border-radius: 3px;
        font-size: $base-fontsize;
        color: #fff;
        background-color: $secondary-color;
      }

      .edit {
        position: absolute;
        bottom: 20px;
        right: 15px;
      }

      .tm-wrapper {
        margin-bottom: 30px;
      }
    } // END Article Header

  } // END Single post
} // END Main Content